
.header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px black solid;
    margin-bottom: 20px;

    
}

.exit-arrow{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
    text-decoration: none;
    color: black;
    transition: color 0.15s;
}

.exit-arrow:hover{
    color: #555;
}
